/* General reset for consistent styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* Light blue background */
    background-blend-mode: lighten;
    color: #333; /* Dark gray text */
}

/* Style the main heading */
h1 {
    text-align: center;
    margin-top: 20%;
    color: #2c3e50; /* A deeper shade of blue-gray */
    font-size: 2.5rem;
}

p {
    text-align: center;
    color: #2c3e50;
    font-size: medium;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /*centers horizontally*/
    align-items: center; /*centers vertically*/
    gap: 10px;
    margin-left: 20px;
}

.image-hover {
    max-width: 30%;
    height: auto;
    border-radius: 20px;
    border: 3px solid white;
    transition: all 0.5s ease;
    filter: brightness(0.5);
}

.image-hover:hover {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 0.5s ease;
    filter: brightness(1.5);
}