/* General reset for consistent styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* Light blue background */
    background-blend-mode: lighten;
    color: #333; /* Dark gray text */
}

.text-hover:hover {
    text-align: center;
    color: rgb(80, 214, 255);
    font-size: 3.0rem;
    transition: all 0.5s ease;
}

.text-hover {
    text-align: center;
    margin-top: 20%;
    color: #1a3959;
    font-size: 2.5rem;
    transition: all 0.5s ease;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /*centers horizontally*/
    align-items: center; /*centers vertically*/
    gap: 20px;
    margin-left: 20px;
}

.image-hover {
    max-width: 30%;
    height: auto;
    border-radius: 20px;
    border: 3px solid white;
    transition: all 0.5s ease;
    filter: brightness(0.5);
}

.image-hover:hover {
    max-width: 70%;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 0.5s ease;
    filter: brightness(1.5);
}