<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>My First Website</title>
  </head>
  <body>
    <h1>This is my living portofolio!</h1>
    <p>Hi, my name is David...</p>
    <p>I am a 16 year old boy and i aspire to be a software engineer!</p>
    <p>
      I hope that this page will soon be filled with awesome projects, and will
      become a testament to my determination!
    </p>
  </body>
</html>
